# Database Connection (PostgreSQL Cloud Neon / Local)
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require
DATABASE_URL="postgresql://neondb_owner:password@ep-holy-frog-ax8px6dl-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require"

# JWT Secret untuk Autentikasi Admin Session
JWT_SECRET="klinik-gigi-super-secret-key-pkl-2026"
